<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    body{
        background-color: cyan;
        color:blue
    }
    span{
        color:darkred
    }
</style>
</head>
<body>
    <h1> Hello Friends <span>{{wish}}</span></h1>
    <h2> Now The Server Time <span>{{time}}</span></h2>
    <h1> Astrilogy information for Darmesh <span>{{msg}}</span></h1>
    <h2> very Soon you are going to marry <span>{{name}}</span></h2>
</body>
</html>